#track{
	display:none;
}

#infobar{
	width: 30%;
	height: 60px;
	border: #fff 1px solid;
	color: black;
	font-size: 18px;
	font-style: normal;
	font-family: monospace;	
	text-align: center;	
	background-color: white;
    position: absolute;
    height: 60px;    
    margin-bottom: 0px;
	/* display: block; */
    /* float: left; */
    top: 100x;
}

#back{
	margin-left:0px;		
}

#next{
	margin-left:10px;		
}

.ytClass:hover
{
	opacity:1;
}

.ytClass{

	opacity:0.85;
	vertical-align: middle;   
    font-size: 1.5rem;
    font-weight: 500;  
    text-transform: uppercase;	
	background-color: var(--yt-spec-brand-subscribe-button-background);
    color: #fff;
	cursor: pointer;
    text-decoration: none;
	width:100px;
	height:100%;
	display:inline-block;
	text-align:center;
	border-bottom-color:white;
	border:0.3px solid;
}